<header class="am-topbar am-topbar-inverse admin-header">
  {{> header}}
</header>

<div class="am-cf admin-main">
  {{> sidebar}}

  <div class="admin-content">
    <div class="admin-content-body">
      {{> item}}
    </div>
  </div>
  
</div>
